<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lektion8-While Loops/src/legmedwhileløkker/Leg1App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="legmedwhileløkker.Leg1App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lektion8-While Loops"/>
</launchConfiguration>
